@page "/"
@using MailinatorProxy.API.Features.Teams.GetTeamStats
@using MailinatorProxy.Shared.Dtos.Domains
@using MailinatorProxy.Web.ApiClients
@using MailinatorProxy.Web.Components
@using MailinatorProxy.Web.Services
@using MailinatorProxy.Web.States
@using Microsoft.Extensions.Localization
@inject DomainState DomainState
@inject IDomainService DomainService
@inject IMalinatorApiClient MalinatorApiClient
@inject IBreadcrumbService BreadcrumbService
@inject IStringLocalizer<Home> L


<PageHeader PageTitle="@L["Home_Title"]" BreadcrumbItems="@BreadcrumbService.GetHomeBreadcrumbs()"/>

<MudGrid Spacing="2">
    @foreach (var domain in _domains)
    {
        <MudItem lg="4" md="6" sm="6" xs="12">
            <MudPaper Class="mb-4 pa-4">
                <MudText Typo="Typo.h3">@domain.Name</MudText>
                <MudText Class="mb-2" Typo="Typo.body1">@domain.Description</MudText>

                <MudButton Href="@($"/{domain.Name}/Inbox")"
                           Color="Color.Primary"
                           Variant="Variant.Outlined">@L["Home_OpenInboxButton"]</MudButton>

            </MudPaper>
        </MudItem>

    }
</MudGrid>


@if (_teamStats is not null)
{
    <MudPaper Class="mb-4">
        <div class="pa-4">
            <MudText Typo="Typo.h3">@L["Home_TeamStatsTitle"]</MudText>
        </div>
        <MudGrid Spacing="2">
            <MudItem xs="12" lg="4" xl="3" Class="pa-4">
                <MudSimpleTable Hover="true">
                    <tbody>
                    <tr>
                        <th>@L["Home_TeamStats_DailyLimit"]</th>
                        <td>@_teamStats.TeamPlan.EmailReadsPerDay</td>
                    </tr>

                    <tr>
                        <th>@L["Home_TeamStats_PrivateDomains"]</th>
                        <td>@_teamStats.TeamPlan.NumberOfPrivateDomains</td>
                    </tr>

                    <tr>
                        <th>@L["Home_TeamStats_Storage"]</th>
                        <td>@_teamStats.TeamPlan.StorageMb</td>
                    </tr>

                    <tr>
                        <th>@L["Home_TeamStats_Accounts"]</th>
                        <td>@_teamStats.TeamPlan.TeamAccounts</td>
                    </tr>
                    </tbody>

                </MudSimpleTable>
            </MudItem>
            <MudItem xs="12" lg="8" xl="9">
                <ReadMessageApiBarChart Stats="_teamStats" />
            </MudItem>
            <MudItem xs="12" lg="12">
                <MudSimpleTable Hover="true" Elevation="0">
                    <thead>
                    <tr>
                        <th>@L["Home_TeamStats_Date"]</th>
                        <th>@L["Home_TeamStats_ApiEmails"]</th>
                        <th>@L["Home_TeamStats_ApiErrors"]</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var statByDay in GetVisibleStats())
                    {
                        <tr>
                            <td>@statByDay.Date.ToString("d")</td>
                            <td>
                                <PercentageIndicator
                                    CurrentCount="@statByDay.Retrieved.ApiEmail"
                                    MaxCount="@_teamStats.TeamPlan.EmailReadsPerDay"/>
                            </td>
                            <td>@statByDay.Retrieved.ApiError</td>
                        </tr>
                    }
                    </tbody>
                </MudSimpleTable>

                @if (_teamStats.TeamStats.Count > 5)
                {
                    <div class="d-flex justify-center pa-4">
                        <MudButton OnClick="ToggleShowAllStats" Variant="Variant.Outlined">
                            @( _showAllStats ? L["Home_ShowLess"] : L["Home_LoadMore"] )
                        </MudButton>

                    </div>
                }
            </MudItem>
        </MudGrid>



    </MudPaper>
}


@code
{
    private List<DomainDto> _domains = [];
    private GetTeamStatsQueryResponse? _teamStats;
    private bool _showAllStats = false;
    private TeamStatDto StatsOfToday;

    protected override async Task OnInitializedAsync()
    {
        StatsOfToday = _teamStats?.TeamStats.FirstOrDefault() ?? new TeamStatDto();
        _domains = await DomainService.GetDomainsAsync();
        await GetTeamStats();
    }

    private async Task GetTeamStats()
    {
        _teamStats = await MalinatorApiClient.GetTeamStatsAsync();
        StateHasChanged();
    }

    private void ToggleShowAllStats()
    {
        _showAllStats = !_showAllStats;
    }

    private IEnumerable<TeamStatDto> GetVisibleStats()
    {
        if (_teamStats is null)
            return [];
        return _showAllStats ? _teamStats.TeamStats : _teamStats.TeamStats.Take(5);
    }

}
